In [2]:
import pandas as pd

In [3]:
df= pd.read_csv(r"C:\Users\shanza\OneDrive\Documents\shanza\Data science masters\theory\PANDAS\titanic.csv")

In [4]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [5]:
s=df['Name']

series

In [6]:
s

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [7]:
len(s)

891

In [8]:
s1=df['Name'][0:10]

In [9]:
s1

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [10]:
l=['a','b','c','d','e','f','g','h','i','j']

In [11]:
s2=pd.Series(list(s1),index=l)   #first series is converted into list,then is converted into sereies...otherwise new series will be created with null values and will override previous values

In [12]:
s1[0]

'Braund, Mr. Owen Harris'

In [13]:
s2[0] #even after changing index of s2, python still remembers default index

'Braund, Mr. Owen Harris'

In [14]:
s2['a']  #provides data using new index too

'Braund, Mr. Owen Harris'

In [15]:
s4=pd.Series([6,7,8],index=[1,2,3])

In [16]:

s5=pd.Series([9,8,2],index=[2,3,4])

In [17]:
s4

1    6
2    7
3    8
dtype: int64

In [19]:
s5

2    9
3    8
4    2
dtype: int64

In [18]:
s4*s5 #depends on indexes

1     NaN
2    63.0
3    64.0
4     NaN
dtype: float64