In [22]:
import pandas as pd

In [23]:
date=pd.date_range(start='2024-01-30',end='2024-03-07')

In [24]:
date

DatetimeIndex(['2024-01-30', '2024-01-31', '2024-02-01', '2024-02-02',
               '2024-02-03', '2024-02-04', '2024-02-05', '2024-02-06',
               '2024-02-07', '2024-02-08', '2024-02-09', '2024-02-10',
               '2024-02-11', '2024-02-12', '2024-02-13', '2024-02-14',
               '2024-02-15', '2024-02-16', '2024-02-17', '2024-02-18',
               '2024-02-19', '2024-02-20', '2024-02-21', '2024-02-22',
               '2024-02-23', '2024-02-24', '2024-02-25', '2024-02-26',
               '2024-02-27', '2024-02-28', '2024-02-29', '2024-03-01',
               '2024-03-02', '2024-03-03', '2024-03-04', '2024-03-05',
               '2024-03-06', '2024-03-07'],
              dtype='datetime64[ns]', freq='D')

In [25]:
type(date)

pandas.core.indexes.datetimes.DatetimeIndex

In [26]:
date_df=pd.DataFrame({'date':date})

In [27]:
date_df

         date
0  2024-01-30
1  2024-01-31
2  2024-02-01
3  2024-02-02
4  2024-02-03
5  2024-02-04
6  2024-02-05
7  2024-02-06
8  2024-02-07
9  2024-02-08
10 2024-02-09
11 2024-02-10
12 2024-02-11
13 2024-02-12
14 2024-02-13
15 2024-02-14
16 2024-02-15
17 2024-02-16
18 2024-02-17
19 2024-02-18
20 2024-02-19
21 2024-02-20
22 2024-02-21
23 2024-02-22
24 2024-02-23
25 2024-02-24
26 2024-02-25
27 2024-02-26
28 2024-02-27
29 2024-02-28
30 2024-02-29
31 2024-03-01
32 2024-03-02
33 2024-03-03
34 2024-03-04
35 2024-03-05
36 2024-03-06
37 2024-03-07

In [28]:
df7=pd.DataFrame({'date':['2024-06-23','2024-06-24']})

In [29]:
df7

         date
0  2024-06-23
1  2024-06-24

In [30]:
df7.dtypes

date    object
dtype: object

In [31]:
df7['updated_date']=pd.to_datetime(df7['date'])

In [32]:
df7

         date updated_date
0  2024-06-23   2024-06-23
1  2024-06-24   2024-06-24

In [33]:
df7.dtypes

date                    object
updated_date    datetime64[ns]
dtype: object

In [34]:
df7['year']=df7['updated_date'].dt.year

In [35]:
df7['month']=df7['updated_date'].dt.month

In [36]:
df7['day']=df7['updated_date'].dt.day

In [37]:
df7

         date updated_date  year  month  day
0  2024-06-23   2024-06-23  2024      6   23
1  2024-06-24   2024-06-24  2024      6   24

In [41]:
df7['day_name']=df7['updated_date'].dt.day_name()

In [39]:
df7['datee']=df7['updated_date'].dt.date

In [42]:
df7

         date updated_date  year  month  day day_name       datee
0  2024-06-23   2024-06-23  2024      6   23   Sunday  2024-06-23
1  2024-06-24   2024-06-24  2024      6   24   Monday  2024-06-24

In [43]:
pd.Timedelta(days=1)

Timedelta('1 days 00:00:00')

In [44]:
pd.Timedelta(days=1,hours=5,minutes=56,seconds=32)

Timedelta('1 days 05:56:32')

In [48]:
dt=pd.to_datetime('2023-06-20')

In [49]:
dt

Timestamp('2023-06-20 00:00:00')

In [46]:
td=pd.Timedelta(days=5)

In [47]:
td

Timedelta('5 days 00:00:00')

In [50]:
dt+td

Timestamp('2023-06-25 00:00:00')